<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.prz.mstudent" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.edu.prz.mstudent.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.prz.mstudent.RegisterActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="pl.edu.prz.mstudent.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
    </application>

</manifest>
